.product-desc-nav{
    height:5rem;
    max-width:80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap:10%;
    list-style-type:none;
}
.link{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:120%;
    font-weight: bolder;
    cursor: pointer;
}
.link:hover{
    
}
.active-link{
    color:green;
}