 .auth-container{
    margin:2rem auto;
    width:50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:rgba(97, 248, 97,.5); 
    padding:25px;
    border-radius: 25px;
}
.auth-box{
    width: 100%;
    margin: auto;
} 