/* AddProduct.css */

.add-product-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:rgba(97, 248, 97,.5);  
  }
  
  .form-group {
    margin-bottom: 15px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .form-group-button{
    display: flex;
    gap:2rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .file-input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: .5rem auto;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .textarea {
    height: 100px;
    resize: vertical;
  }

  .update{
    width:max-content;
    margin: 2rem auto;
  }
  
  